body{
    background-color: cadetblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#title{
    display: flex;
    justify-content: center;
    font-weight: bold;
    letter-spacing: 2px;
}
.container{
    display: flex;
    justify-content: center;
}
#inptspc{
    text-align: center;
    width: 30rem;
    border-radius: 10px;
}
#add{
    width: 10rem;
    letter-spacing: 1px;
    border-radius: 10px;
    background-color: slategray;
    color: rgb(180, 205, 226);
}
#sort{
    width: 10rem;
    letter-spacing: 1px;
    border-radius: 10px;
    background-color: slategray;
    color: rgb(180, 205, 226);
}
.row{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.results{
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 2rem;
    border: 2px solid;
    border-radius: 20px;
    background-color: beige    
}
#name-list{
    letter-spacing: 1px;
    color: rgb(90, 119, 161);
    font-size: xx-large;
}
#add:hover{
    color: slategray;
    background-color:  rgb(180, 205, 226);
}
#sort:hover{
    color: slategray;
    background-color:  rgb(180, 205, 226);
}



@media only screen and (max-width: 500px){
    #inptspc{
        text-align: center;
        width: 30rem;
        border-radius: 10px;
        width: 100%;
    }
    #sort{
        width: 10rem;
        letter-spacing: 1px;
        border-radius: 10px;
        background-color: slategray;
        color: rgb(180, 205, 226);
    }
    #add{
        width: 10rem;
        letter-spacing: 1px;
        border-radius: 10px;
        background-color: slategray;
        color: rgb(180, 205, 226);
    }
    .results{
        display: flex;
        justify-content: center;
        height: 100vh;
        margin: 2rem;
        border: 2px solid;
        border-radius: 20px;
        background-color: beige;  
    }
}